.conteudo-pagina-edicao-cli{
    display: flex;
}

.conteudo-edicao-cli{
    background-color: var(--corSecundaria);
    width: 100vw;
}

.dados-cli{
    background-color: var(--corBranco);
    margin: 2vw;
    padding-left: 25px;
    padding-bottom: 30px;
    margin-top: -2vw;
}

.dados-edicao-cli-nome {
    padding-top: 30px;
}

.dados-edicao-cli-nome input,
.dados-edicao-cli-email input,
.dados-edicao-cli-telefone input,
.dados-edicao-cli-endereco input
{
    margin-left: 10px;
    width: 200px;
}
